@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
/* START GLOBAL STYLES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

a {
    text-decoration: none;
    color: #242422;
}

i {
    font-size: 24px;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #2196f3;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-view {
    background-color: #007bff;
    color: #fff;
}

.btn-edit {
    background-color: #28a745;
    color: #fff;
}

.btn-delete {
    background-color: #dc3545;
    color: #fff;
}

.btn:hover {
    filter: brightness(0.8);
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

thead {
    background-color: #f2f2f2;
}

th {
    background-color: #ddd;
    font-weight: bold;
}

td input[type="checkbox"],
th input[type="checkbox"] {
    transform: scale(1.5);
    margin: 0;
}

:root {
    /******************** COLORS ********************/
    /* #0f172b, f6f6f9, #f88208, #FEA116, #242422 */

    --primary-color: #fea116;
    --secundary-color: #242422;
    --third-color: #ff0060;
    --body-bg: #f6f6f9;
    --color-label: #a7a7a7;
    --font-family: "Manrope", sans-serif;
}

/* END GLOBAL STYLES */

.main-container {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "side header" "side main";
    height: 100vh;
}

.main-container .left-section {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    /* max-width: 80px; */
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 40px 40px 40px;
    grid-area: side;
    border-right: 2px solid #f0f0f0;
    min-height: 100vh;
    min-width: 280px;
}

.main-container .left-section .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-container .left-section .logo img {
    width: 160px;
    height: 70px;
    object-fit: contain;
}

.main-container .left-section .logo a {
    font-weight: 800;
    font-size: 18px;
    color: #242422;
}

.menu-btn {
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #d1e6f9;
    border-radius: 6px;
    cursor: pointer;
    display: none;
}

.menu-btn i {
    font-size: 18px;
    color: var(--primary-color);
}

.main-container .left-section .sidebar {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main-container .left-section .sidebar .item {
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.main-container .left-section .sidebar i {
    color: var(--secundary-color);
    transition: all 0.3s ease;
    font-size: 30px;
}

.main-container .left-section .sidebar a {
    color: var(--secundary-color);
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 17px;
    position: relative;
    transition: all 0.3s ease;
    text-decoration: none;
}

.main-container .left-section .sidebar .item#active a,
.main-container .left-section .sidebar .item#active i,
.main-container .left-section .upgrade .link i {
    color: var(--primary-color);
}

.main-container .left-section .sidebar .item a::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    background-color: var(--primary-color);
    right: -30px;
    border-radius: 50%;
    top: 0;
    transform: translateY(116%);
    transition: all 0.3s ease;
}

.main-container .left-section .sidebar .item#active a::after {
    width: 8px;
    height: 8px;
}

header {
    background: #fff;
    border-bottom: 2px solid #f0f0f0;
    grid-area: header;
}

header nav {
    display: flex;
    padding: 0 30px;
    justify-content: end;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav ul li {
    list-style: none;
}

header ul li a img {
    border-radius: 50%;
    width: 45px;
    margin-top: 5px;
}

/* STYLES FOR MAIN  */

main {
    width: 100%;
    border-right: 2px solid #f0f0f0;
    /* border-left: 2px solid #f0f0f0; */
    padding: 30px 30px 0 30px;
    background: var(--body-bg);
    padding-bottom: 30px;
    grid-area: main;
}

main h1 {
    margin-top: 15px;
    font-size: 25px;
}

main .analyse {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;
}

main .analyse .status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .analyse > div {
    background: #fff;
    padding: 1.8rem;
    border-radius: 20px;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

main .analyse > div#stock {
    background: #9fc4f0;
}

main .analyse > div#orders {
    background: #fcf49a;
}

main .analyse > div#sales-income {
    background: #def5c7;
}

main .analyse > div#total-sales {
    background: #f9ca7b;
}

main .analyse > div .info h2 {
    font-size: 2rem;
    font-weight: bold;
}

main .analyse .progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

main .analyse .progress .item i {
    font-size: 35px;
}

main .analyse .progress .value p {
    font-size: 20px;
    font-family: 800;
}

/* STYLES FOR CHART ANALYTICS MAIN CONTENT */
main .charts-analytics {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin-top: 20px;
}

main .chart {
    position: relative;
    background: #1b1b1b;
    padding: 30px;
    border-radius: 24px;
    box-shadow: 0 50px 100px rgb(0, 0, 0, 0.08);
}

/* 
main .chart:first-child {
    grid-column-start: 2;
    grid-column-end: 3;
} */

/* main .chart:nth-child(2) {
    grid-column: span 2;
} */

main .chart h2 {
    color: #f9f9f9;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 0 0 2px;
}

main .chart p {
    color: #f9f9f9;
    font-size: 14px;
    margin: 0 0 16px;
}

main .chart .pulse {
    position: absolute;
    height: 14px;
    width: 14px;
    background: var(--primary-color);
    top: 52px;
    right: 40px;
    border-radius: 50%;
}

main .chart .pulse-sale {
    position: absolute;
    height: 14px;
    width: 14px;
    background: var(--primary-color);
    top: 52px;
    right: 270px;
    border-radius: 50%;
    color: #f9f9f9;
}

main .chart .pulse-expense {
    position: absolute;
    height: 14px;
    width: 14px;
    background: var(--third-color);
    top: 52px;
    right: 160px;
    border-radius: 50%;
    color: #f9f9f9;
}

main .chart span#sale-span {
    position: absolute;
    top: 47px;
    right: 215px;
    color: #f9f9f9;
}

main .chart span#sale-span {
    position: absolute;
    top: 47px;
    right: 200px;
    color: #f9f9f9;
}

main .chart span#expense-span {
    position: absolute;
    top: 47px;
    right: 90px;
    color: #f9f9f9;
}

main .chart .pulse::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    left: -1px;
    top: -1px;
    animation: pulse 2s linear infinite;
    transform-origin: center;
    opacity: 0.8;
    scale: 0;
}

main .chart .pulse-sale::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    left: -1px;
    top: -1px;
    animation: pulse 2s linear infinite;
    transform-origin: center;
    opacity: 0.8;
    scale: 0;
}

main .chart .pulse-expense::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid var(--third-color);
    border-radius: 50%;
    left: -1px;
    top: -1px;
    animation: pulse 2s linear infinite;
    transform-origin: center;
    opacity: 0.8;
    scale: 0;
}

@keyframes pulse-sale {
    70% {
        scale: 0;
        opacity: 0.8;
    }

    100% {
        scale: 2;
        opacity: 0;
    }
}

@keyframes pulse-expense {
    70% {
        scale: 0;
        opacity: 0.8;
    }

    100% {
        scale: 2;
        opacity: 0;
    }
}

@keyframes pulse {
    70% {
        scale: 0;
        opacity: 0.8;
    }

    100% {
        scale: 2;
        opacity: 0;
    }
}

main .chart .chart-area {
    position: relative;
}

main .chart .chart-area .grid {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    background-image: repeating-linear-gradient(
        to right,
        transparent 0% 3%,
        #f9f9f9 3% 3.5%,
        transparent 3% 18.65%
    );
}

main .chart .chart-area .grid::after {
    content: "";
    position: inherit;
    z-index: -1;
    top: inherit;
    bottom: inherit;
    width: inherit;
    height: 100%;
    background: linear-gradient(
        180deg,
        rgba(27, 27, 27, 1),
        rgba(27, 27, 27, 0.9),
        rgba(27, 27, 27, 1)
    );
}

body .apexcharts-tooltip.apexcharts-theme-light {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: none;
    padding: 8px 6px 4px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border: 0;
}

.apexcharts-tooltip-title,
.apexcharts-zaxlistoolttip-bottom.apexcharts-theme-light {
    display: none;
}

main #orders-employees {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin-top: 20px;
}

main #orders-employees .employee {
    position: relative;
    background: #fff;
    padding: 30px;
    border-radius: 24px;
    box-shadow: 0 50px 100px rgb(0, 0, 0, 0.08);
}

main .employee .data-employee {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

main .employee .data-employee img {
    width: 80px;
    border-radius: 50%;
}

main .employe h2 {
    color: var(--secundary-color);
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 0 0 2px;
}

main .employee p#list {
    color: var(--secundary-color);
    font-size: 14px;
    margin: 0 0 20px;
}

/* STYLES FOR TABLES AND FORMS MODULES STOCK, SALES , EMPLOOYES */

main .page-wrapper {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

main .page-header .btn-added {
    background: #ff9f43;
    padding: 7px 15px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

main .page-title h4 {
    margin: 0;
    color: #333;
}

main .card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
}

main .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-top {
    margin-bottom: 30px;
}

main table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    background: #fafbfe;
}

main table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
}

main .table th,
main .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

main .table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

main .table tr:hover {
    background-color: #f5f5f5;
}

table .checkboxs {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
}

table .checkmarks {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
}

table .checkboxs input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

table .checkboxs input[type="checkbox"]:checked ~ .checkmarks {
    background-color: #2196f3;
}

table .checkboxs input[type="checkbox"]:checked ~ .checkmarks:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.btn:hover {
    background-color: #0b7dda;
}

.btn.btn-added {
    background-color: #4caf50;
}

.btn.btn-added:hover {
    background-color: #d48700;
}

.btn.confirm-text {
    background-color: #f44336;
}

.btn.confirm-text:hover {
    background-color: #d32f2f;
}

.badges {
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.bg-lightgreen {
    background-color: #4caf50;
}

.bg-lightred {
    background-color: #f44336;
}

.wordset ul {
    list-style: none; /* Quitar las viñetas */
    margin: 0;
    padding: 0;
}

.wordset ul li {
    display: inline-block; /* Alinear los elementos horizontalmente */
    margin-right: 10px; /* Espacio entre los íconos */
}

.wordset ul li:last-child {
    margin-right: 0; /* Eliminar margen derecho del último ícono */
}

/* END STYLES FOR FORMS AND TABLES */
