<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAST | DASHBOARD</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" href="../../styles/inventario/stylesStock.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <!-- ASIDE CONTAINER -->
    <div class="main-container">

        <header>
            <nav>
                <ul class="items-right">
                    <li>
                        <a href="#"><i class='bx bx-search'></i></a>
                    </li>

                    <li>
                        <a href="#"><i class='bx bx-bell'></i></a>
                    </li>

                    <li>
                        <a href="#"><img src="../../imgs/avatar-06.jpg" alt="admin" width="60px"></a>
                    </li>
                </ul>
            </nav>
        </header>

        <aside class="left-section">

            <div class="sidebar">

                <div class="logo">
                    <button class="menu-btn" id="menu-close"><i class='bx bx-log-out-circle'></i></button>
                    <a href="#"><img src="../../imgs/LOGOf.png" alt="logo"></a>
                </div>


                <div class="item">
                    <i class='bx bx-home-alt-2'></i>
                    <a href="adminDashboard.html">Dashboard</a>
                </div>
                <div class="item">
                    <i class='bx bx-grid-alt'></i>
                    <a href="#">Ordenes</a>
                </div>
                <div class="item">
                    <i class='bx bxs-user-detail'></i>
                    <a href="gestionEmpleados.html">Empleados</a>
                </div>
                <div class="item">
                    <i class='bx bx-transfer-alt'></i>
                    <a href="gestionVentas.html">Ventas</a>
                </div>
                <div class="item" id="active">
                    <i class='bx bx-task'></i>
                    <a href="#">Inventario</a>
                </div>
                <div class="item">
                    <i class='bx bx-cog'></i>
                    <a href="#">Settings</a>
                </div>
            </div>

            <div class="log-out sidebar">
                <div class="item">
                    <i class='bx bx-log-out'></i>
                    <a href="../../sing-up/login.html">Log-out</a>
                </div>

            </div>
        </aside>


        <!-- END OF SIDEBAR -->
        <!-- HEADER STYLES -->


        <!-- MAIN CONTENT -->
        <main>
            <div class="nav-sections">
                <nav>
                    <ul>
                        <li><a href="gestionInventario.html">Lista Productos</a></li>
                        <li id="active"><a href="listaCategorias.html">Lista Categorias</a></li>
                        <li><a href="#">Control de Stock</a></li>
                    </ul>
                </nav>
            </div>

            <h1>Lista Categorias</h1>
            <p>Administra categorias</p>

            <div class="page-wrapper">

                <div class="page-header">

                    <!-- <div class="page-title">
                        <h4>Lista de Productos</h4>
                        <h6>Administra tus productos</h6>
                    </div> -->
                    <div class="page-btn">
                        <a href="addCategory.html" class="btn btn-added"><i class="fas fa-plus"></i> Agregar Nueva
                            categoria</a>
                    </div>
                </div>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="select-all">
                                </th>

                                <th>Nombre de la Categoría</th>
                                <th>Código de la Categoría</th>
                                <th>Descripción</th>

                                <th>Acción</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>La Trattoria</td>
                                <td>Downtown</td>
                                <td>Italiana</td>



                                <td>
                                    <a href="editarCategory.html">
                                        <button class="btn btn-edit"><i class="fas fa-edit"></i> Editar</button>
                                    </a>
                                    <a href="#">
                                        <button class="btn btn-delete"><i class="fas fa-trash-alt"></i>
                                            Eliminar</button>
                                    </a>
                                </td>

                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>La Trattoria</td>
                                <td>Downtown</td>
                                <td>Italiana</td>


                                <td>
                                    <a href="editarCategory.html">
                                        <button class="btn btn-edit"><i class="fas fa-edit"></i> Editar</button>
                                    </a>
                                    <a href="#">
                                        <button class="btn btn-delete"><i class="fas fa-trash-alt"></i>
                                            Eliminar</button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>La Trattoria</td>
                                <td>Downtown</td>
                                <td>Italiana</td>



                                <td>
                                    <a href="editarCategory.html">
                                        <button class="btn btn-edit"><i class="fas fa-edit"></i> Editar</button>
                                    </a>
                                    <a href="#">
                                        <button class="btn btn-delete"><i class="fas fa-trash-alt"></i>
                                            Eliminar</button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>La Trattoria</td>
                                <td>Downtown</td>
                                <td>Italiana</td>



                                <td>
                                    <a href="editarCategory.html">
                                        <button class="btn btn-edit"><i class="fas fa-edit"></i> Editar</button>
                                    </a>
                                    <a href="#">
                                        <button class="btn btn-delete"><i class="fas fa-trash-alt"></i>
                                            Eliminar</button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>La Trattoria</td>
                                <td>Downtown</td>
                                <td>Italiana</td>

                                <td>
                                    <a href="editarCategory.html">
                                        <button class="btn btn-edit"><i class="fas fa-edit"></i> Editar</button>
                                    </a>
                                    <a href="#">
                                        <button class="btn btn-delete"><i class="fas fa-trash-alt"></i>
                                            Eliminar</button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table><br>
                    <div class="d-flex justify-content-between align-items-center">
                        <button class="btn btn-outline-primary" id="dashboardBtn"><i class="fas fa-home"></i> Panel
                            Principal</button>
                        <div class="btn-group" role="group"><br>
                            <button class="btn btn-outline-primary" id="prevPageBtn"><i
                                    class="fas fa-chevron-left"></i></button>
                            <button class="btn btn-outline-primary" id="nextPageBtn"><i
                                    class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script src="../../js/app.js"></script>
</body>



</html>