<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>

    <div class="container">
        <div class="login-container">
            <div class="logo-container">
                <img src="../imgs/LOGOf.png" alt="Logo" class="logo">
                <h2>Ingresa tus datos para empezar</h2>
            </div>
            <form>
                <div class="input-container">
                    <input type="text" id="nombre" placeholder=" ">
                    <label for="username">Nombre</label>
                </div>
                <div class="input-container">
                    <input type="text" id="restaurante" placeholder=" ">
                    <label for="restaurante">Restaurante</label>
                </div>
                <div class="input-container">
                    <input type="telefono" id="telefono" placeholder=" ">
                    <label for="telefono">Telefono</label>
                </div>
                <div class="input-container">
                    <input type="text" id="correo" placeholder=" ">
                    <label for="correo">Correo</label>
                </div>
                <a href="#" id="btn-login">Comienza</a>
            </form>
            <p class="bottom-text">¿Ya estás registrado? Haz click <a href="login.html">aquí</a>.</p>
        </div>
    </div>

</body>

</html>